@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.home-container{
    height: 700px;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.Toyota-86{
    height: 700px;
    width: 70%;
    border-radius: 20px;
}

/* batas header atas */

.subjudul{
    width: 70%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #00A9FF;
}

.option-item h1{
    color: white;
}


.card1{
    width: 72%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.card2{
    width: 32%;
    height: 400px;
    background-color: #00A9FF;;
    border-radius: 20px;
    margin-left: 90px;
}

.main-card-1{
    width: 25%;
    height: 300px;
    background-color: #89CFF3;
    position: relative;
    right: 8%;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item{
    width: 100%;
    height: 150px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


.main-card-1 h1{
    font-size: 28px;
    color: #233454;
    padding: 0px 5px;
    margin-top: 8px;
}

.main-card-1 p{
    font-size: 13px;
    color: #233454;
    padding: 0px 5px;
}

.main-card-1 i{
    font-size: 13px;
    color: #233454;
    padding: 0px 5px;
}

@media (max-width: 1800px){
    
    .main-card-1{
        height: 280px;
    }

    .main-card-1 h1{
        font-size: 20px;
    }
    
    .main-card-1 p{
        font-size: 11px;
    }
    
    .main-card-1 i{
        font-size: 11px;
    }
}

@media (max-width: 1500px){

    .card2{
        width: 0%;
        height: 0px;
        background-color: white;;
        border-radius: 0px;
        margin-left: 0px;
    }

    .main-card-1{
        right: 0;
    }
}

@media (max-width: 1150px){

    .Toyota-86{
        width: 90%;
    }

    .subjudul{
        width: 100%;
        height: 50px;
        margin-left: 0;
        margin-right: 0;
    }

    .subjudul h1{
        font-size: 30px;
    }
    
    .card1{
        width: 100%;
    }

    .main-card-1 h1{
        font-size: 20px;
    }

   .main-card-1 p{
        font-size: 11px;
   } 

   
}

@media (max-width: 780px){

    .Toyota-86{
        width: 95%;
    }

    .card1{
        height: 300px;
    }

    .main-card-1 h1{
        font-size: 15px;
    }

   .main-card-1 p{
        font-size: 9px;
   } 

   .main-card-1{
    height: 250px;
   }
   
}

@media (max-width: 650px){
    .home-container{
        height: 400px;
    }

    .Toyota-86{
        width: 98%;
        height: 400px;
    }

    .main-card-1 h1{
        font-size: 12px;
    }

   .main-card-1 p{
        font-size: 8px;
   }  

   .main-card-1 i{
        font-size: 8px;
    }
}

@media (max-width: 580px){

    .card1{
        height: 200px;
    }

    .home-container{
        height: 360px;
    }
    
    .main-card-1{
        margin-left: 5px;
    }

    .subjudul{
        height: 10px;
    }

    .main-card-1 p{
        font-size: 7px;
   }  

   .main-card-1 i{
        font-size: 7px;
    }

    .subjudul h1{
        font-size: 20px;
    }

    .item{
        width: 100%;
        height: 90px;
    }

    .main-card-1{
        height: 200px;
       }
}